@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

html {
    overflow-x: hidden;
}

.this-body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

#home-page {
    background: url("https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    height: auto;
    background-size: cover;
    background-position: center, center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    
}



#meet-tutors-page {
    background: url("https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    height: auto;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}



@media only screen and (min-device-width : 300px) and (max-device-width : 765px) {
    #home-page {
        background-attachment: initial;
    }

    #meet-tutors-page {
        background-attachment: initial;
    }
}

textarea, input {
    font-family: 'PlayFair Display', serif;
    font-size: 1rem;
}

.background {
    width: 100%;
}

.left {
    text-align: left;
}


.overlay {
    background: rgba(248,248,255,0.5);
    text-align: center;
    z-index: 2;
    color: black;
    margin: 30vh 0;
}
#p1 {
    font-size: 12vw;
}

#p2 {
    font-size: 5vw;
}

.nexttoright {
    text-align: center;
}

.nexttoright p {
    font-size: 4vw;
    padding-right: 2vw;
    padding-left: 2vw;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .overlay {
        padding-top: 3vw;
        padding-bottom: 3vw;
    }
    #p1 {
        font-size: 8vw;
    }
    #p2 {
        font-size: 4vw;
    }
    .nexttoright p {
        font-size: 4vw;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 667px) {
    .overlay {
        padding-top: 3vw;
        padding-bottom: 3vw;
    }
    #p1 {
        font-size: 8vw;
    }

    #p2 {
        font-size: 3vw;
    }
    .nexttoright p {
        font-size: 3vw;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .overlay {
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    #p1 {
        font-size: 6.5vw;
    }

    #p2 {
        font-size: 3vw;
    }
    .nexttoright p {
        font-size: 1.6vw;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .overlay {
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
    }
    #p1 {
        font-size: 7vw;
    }

    #p2 {
        font-size: 2.5vw;
    }
    .nexttoright p {
        font-size: 1.5vw;
    }
}

.leftpic {
    display: inline-block;
    clear: both;
    float: left;
    width: 50%;
    vertical-align: middle;
}

.ellipse {
    max-width: 100%;
    object-fit: cover;
    clip-path: circle(35% at 50% 50%);
}

.backgroundG {
    background-color: lavenderblush;
}

.backgroundG2 {
    background-color: lavenderblush;
    margin: 0 -500%;
    padding: 0 500%;
    display: inline-block;
    width: 100%;
    height: auto;
    z-index: 3;
}

.bottom {
    background-color: lavenderblush;
}


.backgroundL2 {
    background-color: lightsteelblue;
    margin: 0 -500%;
    padding: 0 500%;
    width: 100vw;
    height: auto;
}

.backgroundL3 {
    background-color: lightsteelblue;
    margin: 0 -500% !important;
    padding: 0 500%;
    height: auto;
}



.row {
    display: flex;
    flex-direction: row;
}

.backgroundL {
    background-color: lightsteelblue;
}

.rightpic {
    overflow: hidden;
    width: 50%;
    height: 30%;
    float: right;
}

.wrapper {
    min-width: 80vw;
    height: inherit;
    background-color: lightsteelblue;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

    .wrapper .title h1 {
        color: dimgray;
        text-align: center;
        margin-bottom: 25px;
    }

.bottom .contact-form {
    display: flex;
}

.bottom .input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.bottom .input-fields,
.bottom .msg {
    width: 100%;
}

    .bottom .input-fields .input,
    .bottom .msg textarea {
        margin: 10px 0;
        background: transparent;
        border: 0px;
        border-bottom: 2px solid dimgray;
        padding: 10px;
        color: black;
        width: 100%;
    }

    .bottom .msg textarea {
        height: 212px;
    }

.bottom input::-webkit-input-placeholder {
    color: dimgray;
}

.bottom textarea::-webkit-input-placeholder {
    color: dimgray;
}


.bottom .btn, .backgroundL .btn {
    text-align: center;
    padding: 15px;
    border: 1px solid dimgray;
    color: dimgray;
    cursor: pointer;
    text-transform: uppercase;
}

    .bottom .btn:hover {
        border: 1px solid slategray;
        color: slategray;
    }

    .backgroundL .btn:hover{
        border: 1px solid lightblue;
        color: lightblue;
    }

@media screen and (max-width: 600px) {
    .bottom .contact-form {
        flex-direction: column;
    }

    .bottom .msg textarea {
        height: 80px;
    }

    .bottom .input-fields,
    .msg {
        width: 100%;
    }
}

.bottom input:focus, .bottom textarea:focus {
    outline: none;
}

.card {
    margin: 0;
}

#cardcol .col, #cardcol .col-1, #cardcol .col-10, #cardcol .col-11, #cardcol .col-12, #cardcol .col-2, #cardcol .col-3, #cardcol .col-4, #cardcol .col-5,
#cardcol .col-6, #cardcol .col-7, #cardcol .col-8, #cardcol .col-9, #cardcol .col-auto, #cardcol .col-lg, #cardcol .col-lg-1, #cardcol .col-lg-10,
#cardcol .col-lg-11, #cardcol .col-lg-12, #cardcol .col-lg-2, #cardcol .col-lg-3, #cardcol .col-lg-4, #cardcol .col-lg-5, #cardcol .col-lg-6, #cardcol .col-lg-7,
#cardcol .col-lg-8, #cardcol .col-lg-9, #cardcol .col-lg-auto, #cardcol .col-md, #cardcol .col-md-1, #cardcol .col-md-10, #cardcol .col-md-11, #cardcol .col-md-12,
#cardcol .col-md-2, #cardcol .col-md-3, #cardcol .col-md-4, #cardcol .col-md-5, #cardcol .col-md-6, #cardcol .col-md-7, #cardcol .col-md-8, #cardcol .col-md-9,
#cardcol .col-md-auto, #cardcol .col-sm, #cardcol .col-sm-1, #cardcol .col-sm-10, #cardcol .col-sm-11, #cardcol .col-sm-12, #cardcol .col-sm-2, #cardcol .col-sm-3,
#cardcol .col-sm-4, #cardcol .col-sm-5, #cardcol .col-sm-6, #cardcol .col-sm-7, #cardcol .col-sm-8, #cardcol .col-sm-9, #cardcol .col-sm-auto, #cardcol .col-xl,
#cardcol .col-xl-1, #cardcol .col-xl-10, #cardcol .col-xl-11, #cardcol .col-xl-12, #cardcol .col-xl-2, #cardcol .col-xl-3, #cardcol .col-xl-4, #cardcol .col-xl-5,
#cardcol .col-xl-6, #cardcol .col-xl-7, #cardcol .col-xl-8, #cardcol .col-xl-9, #cardcol .col-xl-auto {
    padding: 0.4em !important;
}